<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">

<!-- el modulo tiene todo el código del componente -->
<dom-module id="visor-cuentas2">
  <template>
    <!-- primera parte estilo solo del componente polymer -->
    <!-- Stilos locales del componente -->
    <style>
      :host {
        display: block;
      }
    </style>
    <!--all:inital;-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <template is="dom-if" if="{{loading}}">
      <paper-spinner active></paper-spinner>
    </template>

    <template is="dom-if" if="{{!loading}}">
      <!-- Componente html5 a visualizar -->
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">IBAN</th>
              <th scope="col">Saldo</th>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{accounts}}">
              <tr>
                <td>{{item.IBAN}}</td>
                <td>{{item.BALANCE}}</td>
              </tr>
            </template>

          </tbody>
        </table>
      </div>
    </template>

    <!--paper-spinner-lite active class="thick"></paper-spinner-lite-->

    <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
      loading="{{loading}}"
    ></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * Clase que extiende de  Polymer.Element
     * Funciones estáticas que pueden ser accedidas sin que las clases estén instanciadas, es para saber que componentes hay que instanciar
     * return 'frontproyecto-app'; -> Etiqueta para el componete htmlst
     */
    class VisorCuentas2 extends Polymer.Element {
      static get is() { return 'visor-cuentas2'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }, iban: {
            type: String
          }, accounts: {
            type: Array
          }, balance: {
            type: Number
          }
        };
      }

      showData(data) {
        console.log("Accounts showData");
        console.log(data.detail.response[0]);
        this.accounts = data.detail.response;
        //this.userid = data.detail.response[0].USERID;
        //this.iban = data.detail.response[0].IBAN;
        //this.balance = data.detail.response[0].BALANCE;
      }
    }



    window.customElements.define(VisorCuentas2.is, VisorCuentas2);
  </script>
</dom-module>
