<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- el modulo tiene todo el código del componente -->
<dom-module id="frontproyecto-app">
  <template>
    <!-- primera parte estilo solo del componente polymer -->
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Componete html5 a visualizar -->
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y tengo [[age]] años</h3>
    <input type="text" value="{{first_name::input}}" />
    <input type="range" min="18" value="{{age::input}}" max="70" />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * Clase que extiende de  Polymer.Element
     * Funciones estáticas que pueden ser accedidas sin que las clases estén instanciadas, es para saber que componentes hay que instanciar
     * return 'frontproyecto-app'; -> Etiqueta para el componete htmlst
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
