<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- el modulo tiene todo el código del componente -->
<dom-module id="login-usuario">
  <template>
    <!-- primera parte estilo solo del componente polymer -->
    <!-- Stilos locales del componente -->
    <style>
      :host {
        display: block;
      }
    </style>
    <!--all:inital;-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Componente html5 a visualizar -->
    <input placeholder="email" type="email" value="{{email::input}}"></inpunt>
    <input placeholder="password" type="password" value="{{password::input}}"></inpunt>
    <button on-click="login">Login</button>
    <span hidden$="{{!logged}}">Bienvenido de nuevo</span>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login/"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * Clase que extiende de  Polymer.Element
     * Funciones estáticas que pueden ser accedidas sin que las clases estén instanciadas, es para saber que componentes hay que instanciar
     * return 'frontproyecto-app'; -> Etiqueta para el componete htmlst
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, password: {
            type: String
          }, logged: {
            type: Boolean,
            value: false
          }, id: {
            type: Number
          }
        };
      }

      manageAJAXResponse(data) {
        //La petición ha sido correcta
        console.log("manageAJAXResponse");
        console.log(data.detail.response);

        this.logged=true;
        //idUsuario es lo que devuel AuthController API LoginV2 cuando va bien
        window.location = "user/"+data.detail.response.idUsuario;

      }

      showError(error){
       //Ha habido un error en la petición
        console.log("Opps Hubo un error:"+error)
      }

      login() {
        console.log("El usuario ha pulsado el botón");
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        //Pasar los datos a formato JSON
        this.$.doLogin.body = JSON.stringify(loginData);
        //Envio la petición
        this.$.doLogin.generateRequest();
        console.log("Petición Enviada");


      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
