<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- el modulo tiene todo el código del componente -->
<dom-module id="visor-usuario">
  <template>
    <!-- primera parte estilo solo del componente polymer -->
    <!-- Stilos locales del componente -->
    <style>
      :host {
        display: block;
      }
    </style>
    <!--all:inital;-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Componente html5 a visualizar -->
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y mi email es [[email]] </h3>
    <button class="btn btn-link"><a href="/user/{{id}}/accounts">Ver mis cuentas </a></button>

    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * Clase que extiende de  Polymer.Element
     * Funciones estáticas que pueden ser accedidas sin que las clases estén instanciadas, es para saber que componentes hay que instanciar
     * return 'frontproyecto-app'; -> Etiqueta para el componete htmlst
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, age: {
            type: Number
          }, id: {
            type: Number
          }
        };
      }

      showData(data) {
        console.log("showData");
        console.log(data.detail.response);

        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
