<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">


<!-- el modulo tiene todo el código del componente -->
<dom-module id="gestor-evento">
  <template>
    <!-- primera parte estilo solo del componente polymer -->
    <!-- Stilos locales del componente -->
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <h1> Gestor Eventos (Padre)</h1>
    <emisor-evento on-myevent="processEvent"></emisor-evento>
    <receptor-evento id="reciver"></receptor-evento>

  </template>

  <script>
    class GestorEvento extends Polymer.Element {
      static get is() { return 'gestor-evento'; }
      static get properties() {
        return {

        };
      }

      processEvent(e){
        console.log("Capturado Evento del Emisor");
        console.log(e.detail);

        this.$.reciver.course=e.detail.course;
        this.$.reciver.year=e.detail.year;
      }
    }

    window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>
